body{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #222;
  font-family: 'Quicksand',sans-serif;
}
.container{
  width: 400px;
  margin:auto;
  padding: 50px;
}
.content{
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  min-height: 500px;
}
.navbar{
position: relative;
  height: 100px;
  align-items: center;
  background-color: #80ced6;  
  box-shadow: 0px 1px 4px  rgba(0, 0, 0, 0.25);
 border-radius: 10px 10px 0 0;
 position: relative;
}
.navbar input{
  width: 90%;
  height:40%;
  border-radius: 10px;
  border: none;
  text-indent: 10px;
  position:absolute;
  top: 40px;
  left: 20px;
  bottom: 10px;
}
.navbar button{
  position: absolute;
  right: 25px;
  top: 40px;
  overflow: hidden;
  height: 40px;
  width: 40px;
  border-radius: 10px;
  background-color:transparent;
  border: none;
  overflow: hidden;
  cursor: pointer;
}
.navbar h1{
  position: relative;
  left: 50%;
  transform: translateX(-25%);
  font-weight: 800;
}
ion-icon{
  font-size: 22px;
}
.navbar ion-icon{
  font-size: 30px;
}
.item{
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 10px;  
}
.item:hover {
  box-shadow: 1px 3px 5px rgba(0,0,0,0.1);
}
.controls{
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.btn{
  margin: 3px;
  visibility: hidden;
  cursor: pointer;
}
.task {
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.btn-check{
  border: 1px solid grey;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  cursor: pointer;
  color: white;
  visibility: hidden;
}
.checked{
  background-color: #80ced6;
  color: white;
  border-color: #80ced6;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 3px;
  cursor: pointer;
}
.btn-check:hover{
  background-color: #80ced6;
  color: white;
  border-color: #80ced6;
}
.item:hover > .controls .btn {
  visibility: visible !important;
}

.item:hover > .task .btn-check {
  visibility: visible !important;
}
.empty{
  position: relative;
  left: 20px;
  font-size: 20px;
  margin-top: 10px;
  line-height: 30px;
}